/*  Group 6: ["Hip", "Hip"]
    Spring 2021
    ISTE240 Group Project
    Stylesheet: CSS Survival Guide */

<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #24243C;
    color: #E6E6E6;
}
=======
body {
    background-color: #24243C;
    color: #E6E6E6;
}

/* table */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #E6E6E6;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #396BF7;
  }
>>>>>>> 6d8241c45bfd8dc00f0fb030fbcf6c30782d3807
